@font-face {
    font-family: 'TempleOS';
    src: url('./templeos_font.ttf') format('truetype');
}

body {
    font-family: 'TempleOS', monospace;
    background-color: #FFFFF0; /* Pearl color background */
    margin: 0;
    padding: 0;
}
/* Navigation Bar Styles */
nav {
    position: fixed; /* Adjust as needed */
    top: 0;
    left: 0;
    padding: 20px;
}

.side-buttons {
    list-style-type: none;
    padding: 0;
}

.side-buttons li a {
    display: block;
    text-decoration: none;
    color: black; /* Default link color */
    padding: 10px;
    transition: color 0.3s ease;
}

/* Hover Effect */
.side-buttons li a:hover {
    color: #9bb1ff; /* Color changes when you hover */
}
.main-content {
    margin-left: 150px; /* Ensure this does not overlap with your nav bar */
    padding: 20px;
}

h1, p {
    color: #333; /* Dark grey for readability */
}

